a {
    color: #0857c0; }
a:hover {
    color: #000; }

.mb-3 {
    margin-bottom: 20px; }

.mb-5 {
    margin-bottom: 50px; }

.pb-40 {
    padding-bottom: 30px; }

.sticky .logo-area a img {
    height: 60px; }
.sticky .menu-area {
    padding-top: 7px; }
.sticky .header-right-area ul {
    padding-top: 10px; }

.input-group-text {
    border-radius: 0px; }

.banner-content-3 a {
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    color: #666;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px #333; }
.banner-content-3 a:hover {
    background-color: #0857c0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff; }
.banner-content-3 a.btn-blue {
    background-color: #0857c0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff; }
.banner-content-3 a.btn-blue:hover {
    background-color: #fff;
    color: #808080; }
.banner-content-3 h5 {
    font-size: 16px;
    font-weight: 300;
    color: #fff; }
.banner-content-3 ul {
    padding-left: 10px; }
.banner-content-3 ul li {
    list-style: circle;
    color: #fff;
    font-size: 12px; }

.how-it-works {
    background: url(../images/pattern.jpg);
    padding-top: 30px;
    padding-bottom: 40px; }
.how-it-works h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600; }
.how-it-works h2 span {
    font-weight: 300; }

.drk-blue {
    background-color: rgba(0, 55, 128, 0.5);
    padding: 60px 40px 30px 40px;
    border: 10px solid rgba(0, 55, 128, 0.8); }
.drk-blue [class^='col-'] {
    border-right: 1px solid #0857c0;
    border-bottom: 1px solid #0857c0; }
.drk-blue [class^='col-']:nth-child(2) {
    border-right: 0px; }
.drk-blue [class^='col-']:nth-child(3) {
    border-bottom: 0px; }
.drk-blue [class^='col-']:nth-child(4) {
    border-right: 0px;
    border-bottom: 0px; }
.drk-blue .media {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px; }
.drk-blue .media span {
    margin-right: 20px;
    font-size: 60px; }
.drk-blue .media h5 {
    color: #53b0ff;
    text-transform: capitalize; }
.drk-blue .media p {
    font-weight: 300; }
.drk-blue .media .media-body strong {
    font-weight: 300;
    font-size: 40px;
    padding-right: 5px;
    color: #0857c0; }
.drk-blue .media .media-body b {
    font-weight: 300;
    font-size: 40px;
    padding-right: 5px;
    color: #0857c0; }

.footer-logo a img {
    height: 80px; }

h4.cntdetails {
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px; }
h4.cntdetails span {
    font-weight: 300; }

ul.quicklinks {
    list-style-type: square;
    margin: 0px;
    padding: 0px 0px 0px 30px; }
ul.quicklinks li {
    color: #fff;
    position: relative;
    padding-left: 10px;
    padding-bottom: 5px; }
ul.quicklinks li i {
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 0px; }
ul.quicklinks li a {
    color: #fff; }
ul.quicklinks li a:hover {
    color: #d8e4f3; }

ul.addressdetails {
    margin: 0px;
    padding: 0px 0px 0px 10px; }
ul.addressdetails li {
    color: #fff;
    position: relative;
    padding-left: 40px;
    padding-bottom: 5px; }
ul.addressdetails li i {
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 0px; }
ul.addressdetails li a {
    color: #fff; }
ul.addressdetails li a:hover {
    color: #d8e4f3; }

.shdbox {
    background-color: rgba(8, 87, 192, 0.5);
    padding: 20px;
    border-radius: 5px;
    min-height: 220px; }

.videobox {
    background-color: #fff;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0px 5px 20px #ccc;
    margin-bottom: 30px; }

#loginModal .modal-header button.close, #registerModal .modal-header button.close, #forgotModal .modal-header button.close, .feedbackModal .modal-header button.close {
    right: 35px;
    top: 20px;
    border: 0px;
    color: #0857c0;
    z-index: 99999; }
#loginModal .modal-content, #registerModal .modal-content, #forgotModal .modal-content, .feedbackModal .modal-content {
    padding: 20px;
    background: linear-gradient(to bottom, #ffffff 0%, #e6eef9 100%);
    border: 5px solid #a7c7f0;
    position: relative; }
#loginModal i, #registerModal i, #forgotModal i, .feedbackModal i {
    color: #0857c0; }
#loginModal h3, #registerModal h3, #forgotModal h3, .feedbackModal h3 {
    color: #0857c0;
    font-weight: 300; }
#loginModal p a:hover, #registerModal p a:hover, #forgotModal p a:hover, .feedbackModal p a:hover {
    color: #000; }
#loginModal .input-group, #registerModal .input-group, #forgotModal .input-group, .feedbackModal .input-group {
    margin-top: 20px;
    margin-bottom: 20px; }
#loginModal .input-group-text, #registerModal .input-group-text, #forgotModal .input-group-text, .feedbackModal .input-group-text {
    border-radius: 0px !important;
    background-color: #a7c7f0; }
#loginModal .input-group-text i, #registerModal .input-group-text i, #forgotModal .input-group-text i, .feedbackModal .input-group-text i {
    color: #fff; }
#loginModal .form-control, #registerModal .form-control, #forgotModal .form-control, .feedbackModal .form-control {
    height: 45px;
    border-radius: 0px !important; }
#loginModal .form-control:focus, #registerModal .form-control:focus, #forgotModal .form-control:focus, .feedbackModal .form-control:focus {
    box-shadow: inherit !important; }
#loginModal textarea.form-control, #registerModal textarea.form-control, #forgotModal textarea.form-control, .feedbackModal textarea.form-control {
    height: 150px !important; }
#loginModal .btn-login, #registerModal .btn-login, #forgotModal .btn-login, .feedbackModal .btn-login {
    background-color: #0857c0;
    color: #fff;
    border: none;
    padding: 10px 30px; }
#loginModal .btn-login i, #registerModal .btn-login i, #forgotModal .btn-login i, .feedbackModal .btn-login i {
    color: #fff; }
#loginModal .btn-login:hover, #registerModal .btn-login:hover, #forgotModal .btn-login:hover, .feedbackModal .btn-login:hover {
    background-color: #a7c7f0; }
#loginModal .modal-body, #registerModal .modal-body, #forgotModal .modal-body, .feedbackModal .modal-body {
    z-index: 999; }
#loginModal .backdrop-logo, #registerModal .backdrop-logo, #forgotModal .backdrop-logo, .feedbackModal .backdrop-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }

.feedbackModal label {
    margin-bottom: 0px; }

.subpagebg, .cms-subpage {
    background: url("../images/subpagebg.jpg") no-repeat;
    background-position: left center;
    background-size: cover;
    height: 90px;
    position: relative; }
.subpagebg:before, .cms-subpage:before {
    content: "";
    position: absolute;
    background-color: rgba(216, 228, 244, 0.7);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9; }
.subpagebg h4, .cms-subpage h4 {
    text-align: center;
    color: #000;
    padding: 200px 0px 0px 0px;
    position: relative;
    z-index: 9;
    font-weight: 600; }
.subpagebg p, .cms-subpage p {
    text-align: center;
    color: #0857c0;
    position: relative;
    z-index: 9; }
.subpagebg .header-right-area ul li a, .cms-subpage .header-right-area ul li a {
    padding: 20px 0px; }

.cms-subpage {
    height: 300px;
    padding: 20px 0px 50px 0px; }

.greybg {
    background-color: #f6f6f6;
    padding: 30px 0px; }

.whitebox {
    background-color: #fff;
    padding: 20px;
    min-height: 550px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px; }
.whitebox h3 {
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #f6f6f6;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #0857c0; }

.steps .current-info, .steps .number {
    display: none; }

.steps {
    position: absolute;
    right: 42px;
    top: 5px;
    z-index: 9;
    display: none; }
.steps ul {
    position: relative; }
.steps ul:before {
    content: "1";
    font-size: 40px;
    color: #ccc;
    font-family: "Poppins-Medium"; }
.steps ul:after {
    content: "/ 3";
    font-size: 15px;
    color: #ccc;
    font-family: "Poppins-Medium";
    position: absolute;
    left: 16px;
    top: 13px;
    width: 22px; }
.steps ul.step-2:before {
    content: "2"; }
.steps ul.step-2:after {
    left: 31px; }
.steps ul.step-3:before {
    content: "3"; }
.steps ul.step-3:after {
    left: 31px; }

.actions ul {
    display: flex;
    justify-content: space-between;
    margin-top: 42px; }
.actions ul.mt-7 {
    margin-top: 7px; }
.actions li {
    /* &[aria-disabled="true"] {
          &:before {
                  content: "Your must fill all fields, to be able to continue";
          }
          a {
              display: none;
          }
    } */ }
.actions li a {
    border: none;
    display: inline-flex;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: #0857c0;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px; }
.actions li a:hover {
    background: #333; }
.actions li:first-child a {
    background: none;
    border: 1px solid #0857c0;
    color: #0857c0; }
.actions li:first-child a:hover {
    border-color: transparent;
    color: #fff;
    background: #333; }

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none; }

.btn-primary {
    background-color: #0857c0; }

#wizard-form .form-control, .new-added-form .form-control, .contentdashboard .form-control {
    height: 45px;
    border-radius: 0px;
    font-size: 14px; }
#wizard-form .form-control:focus, .new-added-form .form-control:focus, .contentdashboard .form-control:focus {
    box-shadow: inherit; }
#wizard-form textarea.form-control, .new-added-form textarea.form-control, .contentdashboard textarea.form-control {
    height: 150px; }
#wizard-form select, .new-added-form select, .contentdashboard select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    background: url("../images/angle-down.svg") no-repeat;
    background-position: top 10px right 8px;
    background-size: 24px 24px; }
#wizard-form p strong, .new-added-form p strong, .contentdashboard p strong {
    color: #000; }

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }

.inputfile + label {
    max-width: 100%;
    font-size: 14px;
    /* 20px */
    text-align: center;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */ }

.no-js .inputfile + label {
    display: none; }

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px; }

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */ }

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */ }

/* style 1 */
.inputfile-1 + label {
    color: #fff !important;
    width: 100%;
    background-color: #0857c0; }

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: rgba(8, 87, 192, 0.8); }

.pkgsteps .logo-area a img {
    height: 60px; }

label {
    font-weight: 600; }

#wizard-form h6, .new-added-form h6 {
    margin: 0px;
    padding-bottom: 15px;
    font-weight: 300;
    color: #0857c0;
    font-size: 18px; }

.dashboard-menu h4 {
    margin: 0px;
    padding: 0px;
    background-color: #0857c0;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    text-align: center; }
.dashboard-menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
.dashboard-menu ul li a {
    color: #333;
    text-decoration: none;
    line-height: 40px;
    padding-left: 10px;
    display: block;
    font-weight: 500;
    font-size: 14px; }
.dashboard-menu ul li a i {
    width: 24px;
    height: 24px;
    float: left;
    display: block;
    line-height: 40px;
    color: #0857c0; }
.dashboard-menu ul li a:hover {
    background-color: #e3ebf6; }
.dashboard-menu ul li:nth-child(odd) {
    background-color: #f0f0f0; }
.dashboard-menu ul li.active a {
    background-color: #e3ebf6; }

.btn-submit, .btn-blog {
    background-color: #0857c0;
    color: #fff;
    padding: 8px 30px;
    border: none;
    transition: all ease .5s; }
.btn-submit:hover, .btn-blog:hover {
    border-radius: 30px;
    color: #fff;
    background-color: #00357c; }

.htfix {
    height: 350px;
    object-fit: cover; }

.contentdashboard textarea.form-control {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden; }
.contentdashboard textarea.form-control::-webkit-scrollbar {
    width: 12px; }
.contentdashboard textarea.form-control::-webkit-scrollbar-track {
    background: #e3ebf6; }
.contentdashboard textarea.form-control::-webkit-scrollbar-thumb {
    background-color: #0857c0;
    border-radius: 20px;
    border: 3px solid #e3ebf6; }

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    padding: 3px;
    border: 1px solid #ccc; }

.order-box h5 {
    color: #0857c0;
    font-weight: 500;
    font-size: 16px;
    text-align: left; }
.order-box .bg-warning, .order-box .bg-danger {
    border-radius: 10px;
    color: #000;
    padding: 5px 10px; }
.order-box .bg-danger {
    color: #fff; }
.order-box p {
    color: #000;
    margin: 0px;
    padding: 0px 0px 10px 0px; }
.order-box .price {
    font-weight: 400; }
.order-box span {
    font-weight: 500;
    color: #0857c0; }
.order-box .rating i {
    color: #f2cd00; }

.fz-12 {
    font-size: 12px;
    text-align: right;
    color: #000; }

.step {
    list-style: none;
    margin: .2rem 0;
    width: 100%; }
.step .step-item {
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    margin-top: 0;
    min-height: 1rem;
    position: relative;
    text-align: center; }
.step .step-item:not(:first-child)::before {
    background: #0069d9;
    content: "";
    height: 2px;
    left: -50%;
    position: absolute;
    top: 9px;
    width: 100%; }
.step .step-item a {
    color: #000;
    font-size: 12px;
    display: inline-block;
    padding: 20px 10px 0;
    text-decoration: none; }
.step .step-item a::before {
    background: #0069d9;
    border: .1rem solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: .9rem;
    left: 50%;
    position: absolute;
    top: .2rem;
    transform: translateX(-50%);
    width: .9rem;
    z-index: 1; }
.step .step-item.active a::before {
    background: #fff;
    border: .1rem solid #0069d9; }
.step .step-item.active ~ .step-item::before, .step .step-item.active ~ .step-item a::before {
    background: #e7e9ed; }

.contact-form .form-control {
    border-radius: 0px;
    height: 45px;
    display: block; }
.contact-form textarea.form-control {
    height: inherit; }

.contactleft i {
    color: #0857c0; }

.howitbox span {
    color: #d4d4d4;
    font-weight: 300;
    font-size: 100px; }

.howitbox strong {
    color: #d4d4d4;
    font-weight: 300;
    font-size: 100px; }

.howitbox p {
    text-align: justify; }

body.sidebar-in {
    overflow: hidden;
    padding-right: 16px; }
body.sidebar-in header {
    padding-right: 16px; }

.sidebar-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9995;
    visibility: hidden;
    opacity: 0;
    transition: all .6s ease; }
.sidebar-overlay.sidebar-in {
    visibility: visible;
    opacity: 1; }

.sidebar {
    position: fixed;
    top: 0px;
    width: 280px;
    height: 100%;
    background: #0857c0;
    z-index: 9999;
    transform: translateX(0%);
    transition: all .3s ease;
    padding: 0px; }
.sidebar.sidebar-left {
    right: 100%;
    transform: translateX(0%); }
.sidebar.sidebar-right {
    left: 100%;
    transform: translateX(0%); }
.sidebar.sidebar-in.sidebar-left {
    right: 100%;
    transform: translateX(100%); }
.sidebar.sidebar-in.sidebar-right {
    left: 100%;
    transform: translateX(-100%); }
.sidebar .list-group-item {
    background: #0857c0;
    color: #fff;
    padding: 8px 10px; }
.sidebar .list-group-item i {
    width: 30px;
    height: 30px;
    float: left;
    display: block;
    line-height: 25px;
    padding-right: 0px; }

.mob-tog-btn {
    color: #292929;
    display: inline-block;
    padding: 30px 0px;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    display: none; }
.mob-tog-btn:focus {
    box-shadow: inherit; }

.login-box {
    display: none; }

.cont-details .card {
    min-height: 180px;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px; }
.cont-details .card .card-body {
    padding-top: 20px; }
.cont-details .card .card-body span {
    width: 70px;
    height: 70px;
    display: block;
    background-color: #0857c0;
    color: #fff;
    margin: 0px auto;
    border-radius: 100%;
    line-height: 80px;
    margin-bottom: 10px; }
.cont-details .card .card-body span i {
    font-size: 35px; }

@media only screen and (max-width: 992px) {
    footer {
        padding-bottom: 60px; }

    .login-box {
        display: block;
        position: fixed;
        bottom: -5px;
        width: 100%;
        z-index: 9999; }
    .login-box a {
        width: 50%;
        padding: 10px 0px;
        display: block;
        text-align: center;
        float: left; }
    .login-box a:nth-child(1) {
        background-color: #0857c0;
        color: #fff; }
    .login-box a:nth-child(2) {
        background-color: #79adf2;
        color: #fff; } }
.cmsblock p {
    text-align: justify; }
.cmsblock p:last-child {
    padding-bottom: 30px; }

.orderconfirm {
    color: #333; }
.orderconfirm p {
    margin: 0px;
    padding-bottom: 10px; }
.orderconfirm p strong {
    color: #0857c0; }
.orderconfirm ul li span {
    width: 160px;
    display: inline-block;
    font-weight: bold;
    font-size: 12px; }

.updphsize img, .updphhfsize img {
    width: 72px;
    height: 120px;
    object-fit: contain;
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc; }

.updphhfsize img {
    width: 87px;
    height: 120px; }

.stytxt {
    text-align: center;
    color: #000;
    padding-top: 10px; }

.pkgitems ul {
    list-style: circle;
    padding-left: 30px; }

.btn-next {
    background-color: #0857c0;
    padding: 8px 25px;
    color: #fff;
    border: none; }
.btn-next:hover {
    background-color: #333; }

.btn-previous {
    background-color: #fff;
    border: 1px solid #0857c0 !important;
    padding: 8px 25px;
    color: #0857c0;
    border: none; }
.btn-previous:hover {
    background-color: #333;
    color: #fff;
    border: 1px solid #333 !important; }

.btn-edit {
    background-color: #0857c0;
    padding: 2px 10px;
    color: #fff;
    float: right;
    font-size: 12px; }
.btn-edit:hover {
    color: #fff;
    background-color: #333; }

.rating {
    border: none;
    float: left;
    margin-bottom: 10px; }

.rating > input {
    display: none; }

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'Font Awesome 5 Pro';
    display: inline-block;
    content: "\f005"; }

.rating > .half:before {
    content: "\f089";
    position: absolute; }

.rating > label {
    color: #ddd;
    float: right; }

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700; }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85; }

.selfashion .input-group {
    margin-left: 60px; }
.selfashion .hidden {
    visibility: hidden;
    display: none; }
.selfashion .button-checkbox {
    margin-right: 10px;
    margin-bottom: 10px; }

.unsubscr p {
    color: #333; }

/*# sourceMappingURL=newcustom.css.map */
