$mainColor:#fb3636;
$secColor:#9ec215;
$fontColor:#676767;
$headColor:#333;
$grey:#ebedf3;
$ease:cubic-bezier(0.190, 1.000, 0.220, 1.000);
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria-light-webfont.woff2') format('woff2'), url('../fonts/geometria-light-webfont.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria.woff2') format('woff2'), url('../fonts/geometria.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Geometria';
    src: url('../fonts/geometria-medium.woff2') format('woff2'), url('../fonts/geometria-medium.woff') format('woff');
    font-weight: 600;
}
a {
    text-decoration: none!important;
}
.no-break{
    min-width: 0px;
}
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
}
.has-overlay {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.4);
        z-index: 1;
    }
    .overlay-holder {
        position: relative;
        z-index: 2;
    }
}
.custom-select {
    -webkit-appearance: none;
}
.btn {
    font-size: inherit;
}
.rm-small {
    margin-left: - 0.5rem;
    margin-right: - 0.5rem;
}
.cp-small {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.mixwithbg {
    padding-bottom: 100px;
    position: relative;
    &:before {
        content: '';
        left: -10px;
        bottom: -10px;
        width: calc(100% + 20px);
        height: 100px;
        position: absolute;
        background: #f90;
        background: -webkit-linear-gradient(top, transparent, $grey 80%);
        background: linear-gradient(top, transparent, $grey 80%);
    }
}
.card {
    .card-header {
        background-color: #fafafa;
    }
}
.card-body-limited {
    max-height: 500px;
    min-height: 500px;
    overflow-y: auto;
}
.w-500 {
    max-width: 500px;
}
.modal.scale {
    transform: scale(0);
    transition: all .3s ease;
    &.show {
        transform: scale(1);
    }
}
.dropdown-menu {
    font-size: inherit;
}
.dropdown-menu-lg {
    width: 300px;
    .dropdown-item {
        white-space: normal;
    }
}


.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.login {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0;
    position: relative;
    background: url(../images/login-bg.jpg) no-repeat scroll center center/cover;

    &:before{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
    }

    .content{
        .logo {
            text-align: left;
            position: relative;
            z-index: 1;
            left: -20px;

            img{
                margin: 0px auto;
                display: block;
            }
        }

        h2{
            font-size: 40px;
            font-weight: 700;
            margin: 15px 0 15px 0;
            color: #fff;
        }

        h4{
            font-size: 20px;
            color: #fb3636;
            margin: 15px 0 15px 0;
        }

        h5{
            color: #fff;
        }

        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;

            li{
                display: inline-block;
                font-size: 12px;
                margin: 5px 5px;
                color: #fff;
            }
        }

    }

    .bg-color-white {
        justify-content: center;
        align-items: center;
        padding: 40px 30px;

        h2{
            font-size: 25px;
            margin-bottom: 20px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            color: #fb3636;
            text-transform: uppercase;
        }
    }

    .login-box {
        background: #fff;
        margin: 0 auto;
        //box-shadow: 0 0 35px rgb(0 0 0  10%);
        border-radius: 8px;
        position: relative;
        z-index: 1;
    }

    .login-icon {
        font-size: 45px;
        margin-bottom: 8px;
        color: #fb3636;
    }

    .form-group{
        margin-bottom: 25px;
        overflow: hidden;
        label{
            display: block;
            text-align: left;
        }

        input{
            float: left;
            width: 100%;
            padding: 11px 45px 11px 20px!important;
            border-radius: 50px!important;
            font-size: 14px;
            outline: none;
            color: #616161;
            border-radius: 3px;
            font-weight: 500;
            border: 1px solid #ced4da;
            background: #fff;
        }

        i{
            position: absolute;
            top: 37px;
            right: 25px;
            font-size: 19px;
            color: #616161;
        }
    }

    .btn-theme{
        background: #51ad2a;
        border: none;
        color: #fff;
        text-transform: uppercase;
        box-shadow: 0 0 5px #ccc;
        padding: 10px 30px 9px 30px;
        height: 45px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        border-radius: 50px;
    }
}

.m-t {
    margin-top: 15px;
}


/*=================== Dashboard Styles =====================*/

.interface_sidebar{
    display: none;
}

.header-top-bar{
    background: #fb3636;

    .logo{
        img{
            height: 50px;
        }
    }
}

.desktop-menu{
    background: #fff;

    .navbar-nav{
        .nav-item{
            .nav-link{
            font-size: 14px;
            color: #4b4b4b!important;
            padding: 10px 20px;
            font-weight: 600;

            i{
                display: block;
                text-align: center;
                font-size: 30px;
            }

            &:hover{
                color: #fb3636!important;
            }
        }

        &.active{
            .nav-link{
                color: $mainColor!important;
            }
        }

        }
    }
}

@media (min-width: 992px) {
    .modal-full {
        max-width: 100%;
        height: 100%;
        margin: 0px;
        .modal-content {
            height: 100%;
            border: 0px;
        }
    }
}
html, body {
    height: 100%;
}
body {
    font-family: 'Geometria', sans-serif;
    font-weight: normal;
    background: $grey;
    font-size: 13px;
}
.interface_sidebar_toggle{
&.active{
        i{
            &:before{
                font-family: 'Font Awesome 5 Pro';
                content: "\f00d"; 
            }
        
    }
}
}
.interface {
    padding-left: 0px;
    .interface_sidebar {
        width: 200px;
        height: 100%;
        background: #333;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 99;
        transition: all .3s ease;
        >ul {
            >li {
                border-bottom: 1px solid rgba(white, .05); // &:first-child{
                //     border-top: 1px solid rgba(white, .05);
                // }
                >a {
                    color: white;
                    display: block;
                    text-transform: capitalize;
                    padding: 20px 20px;
                    font-weight: bold;
                    &:hover {
                        background: rgba(black, 0.1);
                    }
                }
                &.hassub {
                    >a {
                        &:before {
                            font-family: "Font Awesome 5 Pro";
                            content: "";
                            float: right;
                            font-weight: 300;
                        }
                        &:before {
                            content: "\f067";
                        }
                        &[aria-expanded="true"] {
                            background: rgba(black, 0.1);
                            &:before {
                                content: "\f068";
                            }
                        }
                        &[aria-expanded="false"] {
                            &:before {
                                content: "\f067";
                            }
                        }
                    }
                }
                >ul {
                    background: rgba(black, 0.2);
                    >li {
                        >a {
                            color: white;
                            display: block;
                            padding: 15px 20px;
                            text-transform: capitalize;
                            &:hover {
                                background: rgba(black, 0.1);
                            }
                        }
                    }
                }
            }
        }
    }
}
.checkbox-toggle {
    display: inline-block;
    vertical-align: top;
    label {
        margin: 0px;
        display: block;
        .ct-holder {
            overflow: hidden;
            cursor: pointer;
            border-radius:20px;
            .ct-slider {
                position: relative;
                transform: translateX(0);
                transition: all .3s ease;
                div {
                    padding: 0px 5px;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    width: 75px;
                    &:first-child{
                          background: #ddd;
                        color: black;
                    }
                    &:last-child {
                        position: absolute;
                        left: 100%;
                        top: 0px;
                        background: #28a745;
                        color: white;
                    }
                }
            }
        }
        input[type='checkbox'] {
            display: none;
            &:checked+.ct-holder {
                .ct-slider {
                    transform: translateX(-100%);
                }
            }
        }
    }
}
@media(max-width: 768px) {
    .interface {
        padding: 0px;
        .interface_sidebar {
            transform: translateX(-100%);
            &.active{
                 transform: translateX(0%);
            }
        }
    }
    .card-body-limited{
        min-height: auto;
        max-height: 400px;
    }
    .food-menu2{
        overflow-x:auto;
        .nav{
            .nav-item{
                .nav-link{
                    white-space: nowrap;
                }
            }
        }
    }
}
.vndstat{
    text-align: right;
    h4{
        font-weight: 700;
    }
    small{
        font-size: 14px;
    }
}
.pb-34{
    padding-bottom: 34px;
}

.ico-green{
   color: var(--green);
}
.ico-orange{
   color: var(--orange);
}
.ico-purple{
   color: var(--purple);
}

.bgst-green{
   background-color: var(--green);
}
.bgst-orange{
   background-color: var(--orange);
}
.bgst-purple{
   background-color: var(--purple);
}
.ordersstats{
    td:nth-child(n+2){
        text-align: right;
    }
    td:nth-child(n+3){
        text-align: right;
    }
}