@font-face {
  font-family: 'Geometria';
  src: url("../fonts/geometria-light-webfont.woff2") format("woff2"), url("../fonts/geometria-light-webfont.woff") format("woff");
  font-weight: 300; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/geometria.woff2") format("woff2"), url("../fonts/geometria.woff") format("woff");
  font-weight: 400; }
@font-face {
  font-family: 'Geometria';
  src: url("../fonts/geometria-medium.woff2") format("woff2"), url("../fonts/geometria-medium.woff") format("woff");
  font-weight: 600; }
a {
  text-decoration: none !important; }

.no-break {
  min-width: 0px; }

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ccc; }

.has-overlay {
  position: relative; }
  .has-overlay:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1; }
  .has-overlay .overlay-holder {
    position: relative;
    z-index: 2; }

.custom-select {
  -webkit-appearance: none; }

.btn {
  font-size: inherit; }

.rm-small {
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.cp-small {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.mixwithbg {
  padding-bottom: 100px;
  position: relative; }
  .mixwithbg:before {
    content: '';
    left: -10px;
    bottom: -10px;
    width: calc(100% + 20px);
    height: 100px;
    position: absolute;
    background: #f90;
    background: -webkit-linear-gradient(top, transparent, #ebedf3 80%);
    background: linear-gradient(top, transparent, #ebedf3 80%); }

.card .card-header {
  background-color: #fafafa; }

.card-body-limited {
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto; }

.w-500 {
  max-width: 500px; }

.modal.scale {
  transform: scale(0);
  transition: all .3s ease; }
  .modal.scale.show {
    transform: scale(1); }

.dropdown-menu {
  font-size: inherit; }

.dropdown-menu-lg {
  width: 300px; }
  .dropdown-menu-lg .dropdown-item {
    white-space: normal; }

.align-items-center {
  align-items: center !important; }

.justify-content-center {
  justify-content: center !important; }

.d-flex {
  display: flex !important; }

.login {
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0;
  position: relative;
  background: url(../images/login-bg.jpg) no-repeat scroll center center/cover; }
  .login:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); }
  .login .content .logo {
    text-align: left;
    position: relative;
    z-index: 1;
    left: -20px; }
    .login .content .logo img {
      margin: 0px auto;
      display: block; }
  .login .content h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 15px 0 15px 0;
    color: #fff; }
  .login .content h4 {
    font-size: 20px;
    color: #fb3636;
    margin: 15px 0 15px 0; }
  .login .content h5 {
    color: #fff; }
  .login .content ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .login .content ul li {
      display: inline-block;
      font-size: 12px;
      margin: 5px 5px;
      color: #fff; }
  .login .bg-color-white {
    justify-content: center;
    align-items: center;
    padding: 40px 30px; }
    .login .bg-color-white h2 {
      font-size: 25px;
      margin-bottom: 20px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      color: #fb3636;
      text-transform: uppercase; }
  .login .login-box {
    background: #fff;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
    z-index: 1; }
  .login .login-icon {
    font-size: 45px;
    margin-bottom: 8px;
    color: #fb3636; }
  .login .form-group {
    margin-bottom: 25px;
    overflow: hidden; }
    .login .form-group label {
      display: block;
      text-align: left; }
    .login .form-group input {
      float: left;
      width: 100%;
      padding: 11px 45px 11px 20px !important;
      border-radius: 50px !important;
      font-size: 14px;
      outline: none;
      color: #616161;
      border-radius: 3px;
      font-weight: 500;
      border: 1px solid #ced4da;
      background: #fff; }
    .login .form-group i {
      position: absolute;
      top: 37px;
      right: 25px;
      font-size: 19px;
      color: #616161; }
  .login .btn-theme {
    background: #51ad2a;
    border: none;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 5px #ccc;
    padding: 10px 30px 9px 30px;
    height: 45px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 50px; }

.m-t {
  margin-top: 15px; }

/*=================== Dashboard Styles =====================*/
.interface_sidebar {
  display: none; }

.header-top-bar {
  background: #fb3636; }
  .header-top-bar .logo img {
    height: 50px; }

.desktop-menu {
  background: #fff; }
  .desktop-menu .navbar-nav .nav-item .nav-link {
    font-size: 14px;
    color: #4b4b4b !important;
    padding: 10px 20px;
    font-weight: 600; }
    .desktop-menu .navbar-nav .nav-item .nav-link i {
      display: block;
      text-align: center;
      font-size: 30px; }
    .desktop-menu .navbar-nav .nav-item .nav-link:hover {
      color: #fb3636 !important; }
  .desktop-menu .navbar-nav .nav-item.active .nav-link {
    color: #fb3636 !important; }

@media (min-width: 992px) {
  .modal-full {
    max-width: 100%;
    height: 100%;
    margin: 0px; }
    .modal-full .modal-content {
      height: 100%;
      border: 0px; } }
html, body {
  height: 100%; }

body {
  font-family: 'Geometria', sans-serif;
  font-weight: normal;
  background: #ebedf3;
  font-size: 13px; }

.interface_sidebar_toggle.active i:before {
  font-family: 'Font Awesome 5 Pro';
  content: "\f00d"; }

.interface {
  padding-left: 0px; }
  .interface .interface_sidebar {
    width: 200px;
    height: 100%;
    background: #333;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99;
    transition: all .3s ease; }
    .interface .interface_sidebar > ul > li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
      .interface .interface_sidebar > ul > li > a {
        color: white;
        display: block;
        text-transform: capitalize;
        padding: 20px 20px;
        font-weight: bold; }
        .interface .interface_sidebar > ul > li > a:hover {
          background: rgba(0, 0, 0, 0.1); }
      .interface .interface_sidebar > ul > li.hassub > a:before {
        font-family: "Font Awesome 5 Pro";
        content: "";
        float: right;
        font-weight: 300; }
      .interface .interface_sidebar > ul > li.hassub > a:before {
        content: "\f067"; }
      .interface .interface_sidebar > ul > li.hassub > a[aria-expanded="true"] {
        background: rgba(0, 0, 0, 0.1); }
        .interface .interface_sidebar > ul > li.hassub > a[aria-expanded="true"]:before {
          content: "\f068"; }
      .interface .interface_sidebar > ul > li.hassub > a[aria-expanded="false"]:before {
        content: "\f067"; }
      .interface .interface_sidebar > ul > li > ul {
        background: rgba(0, 0, 0, 0.2); }
        .interface .interface_sidebar > ul > li > ul > li > a {
          color: white;
          display: block;
          padding: 15px 20px;
          text-transform: capitalize; }
          .interface .interface_sidebar > ul > li > ul > li > a:hover {
            background: rgba(0, 0, 0, 0.1); }

.checkbox-toggle {
  display: inline-block;
  vertical-align: top; }
  .checkbox-toggle label {
    margin: 0px;
    display: block; }
    .checkbox-toggle label .ct-holder {
      overflow: hidden;
      cursor: pointer;
      border-radius: 20px; }
      .checkbox-toggle label .ct-holder .ct-slider {
        position: relative;
        transform: translateX(0);
        transition: all .3s ease; }
        .checkbox-toggle label .ct-holder .ct-slider div {
          padding: 0px 5px;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          width: 75px; }
          .checkbox-toggle label .ct-holder .ct-slider div:first-child {
            background: #ddd;
            color: black; }
          .checkbox-toggle label .ct-holder .ct-slider div:last-child {
            position: absolute;
            left: 100%;
            top: 0px;
            background: #28a745;
            color: white; }
    .checkbox-toggle label input[type='checkbox'] {
      display: none; }
      .checkbox-toggle label input[type='checkbox']:checked + .ct-holder .ct-slider {
        transform: translateX(-100%); }

@media (max-width: 768px) {
  .interface {
    padding: 0px; }
    .interface .interface_sidebar {
      transform: translateX(-100%); }
      .interface .interface_sidebar.active {
        transform: translateX(0%); }

  .card-body-limited {
    min-height: auto;
    max-height: 400px; }

  .food-menu2 {
    overflow-x: auto; }
    .food-menu2 .nav .nav-item .nav-link {
      white-space: nowrap; } }
.vndstat {
  text-align: right; }
  .vndstat h4 {
    font-weight: 700; }
  .vndstat small {
    font-size: 14px; }

.pb-34 {
  padding-bottom: 34px; }

.ico-green {
  color: var(--green); }

.ico-orange {
  color: var(--orange); }

.ico-purple {
  color: var(--purple); }

.bgst-green {
  background-color: var(--green); }

.bgst-orange {
  background-color: var(--orange); }

.bgst-purple {
  background-color: var(--purple); }

.ordersstats td:nth-child(n+2) {
  text-align: right; }
.ordersstats td:nth-child(n+3) {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
