$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?60b4f1f488a34cc1d3fa3724effec586") format("truetype"),
url("./flaticon.woff?60b4f1f488a34cc1d3fa3724effec586") format("woff"),
url("./flaticon.woff2?60b4f1f488a34cc1d3fa3724effec586") format("woff2"),
url("./flaticon.eot?60b4f1f488a34cc1d3fa3724effec586#iefix") format("embedded-opentype"),
url("./flaticon.svg?60b4f1f488a34cc1d3fa3724effec586#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "briefcase": "\f101",
    "gallery": "\f102",
    "log-out": "\f103",
    "menu": "\f104",
    "note": "\f105",
    "order": "\f106",
    "pay": "\f107",
    "secure": "\f108",
);

.flaticon-briefcase:before {
    content: map-get($flaticon-map, "briefcase");
}
.flaticon-gallery:before {
    content: map-get($flaticon-map, "gallery");
}
.flaticon-log-out:before {
    content: map-get($flaticon-map, "log-out");
}
.flaticon-menu:before {
    content: map-get($flaticon-map, "menu");
}
.flaticon-note:before {
    content: map-get($flaticon-map, "note");
}
.flaticon-order:before {
    content: map-get($flaticon-map, "order");
}
.flaticon-pay:before {
    content: map-get($flaticon-map, "pay");
}
.flaticon-secure:before {
    content: map-get($flaticon-map, "secure");
}
