@font-face {
    font-family: "flaticon";
    src: url("flaticon.ttf?60b4f1f488a34cc1d3fa3724effec586") format("truetype"),
        url("flaticon.woff?60b4f1f488a34cc1d3fa3724effec586") format("woff"),
        url("flaticon.woff2?60b4f1f488a34cc1d3fa3724effec586") format("woff2"),
        url("flaticon.eot?60b4f1f488a34cc1d3fa3724effec586#iefix") format("embedded-opentype"),
        url("flaticon.svg?60b4f1f488a34cc1d3fa3724effec586#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-briefcase:before {
    content: "\f101";
}
.flaticon-gallery:before {
    content: "\f102";
}
.flaticon-log-out:before {
    content: "\f103";
}
.flaticon-menu:before {
    content: "\f104";
}
.flaticon-note:before {
    content: "\f105";
}
.flaticon-order:before {
    content: "\f106";
}
.flaticon-pay:before {
    content: "\f107";
}
.flaticon-secure:before {
    content: "\f108";
}
